@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, a, div, span {
    font-family: 'SUIT-Medium';
}

main {
    width: 1000px;
    margin: 0 auto;
}

main section {
    width: 900px;
    margin: 0 auto;
}

main > header {
    height: 150px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 50px;
}

main > header > nav {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    justify-content: space-between;
}

main > header > nav > ul {
    position: absolute;
    display: flex;
    position: absolute;
    right: 0;
    top: 120px;
}

main > header > nav > ul > li {
    list-style-type: none;
    margin: 0 5px;
}

#communityView #change span,
.table tr td .update-comment span {
    color: gray;
    cursor: pointer;
}

main > header > nav > ul > li > a,
#communityList tr td:nth-child(2) a,
#qnaList tr td:nth-child(2) a {
    color: black;
}

#communityView #change span:hover,
main > header > nav > ul > li > a:hover,
#communityList tr td:nth-child(2) a:hover,
#qnaList tr td:nth-child(2) a:hover {
    text-decoration: none;
    color: #27a6ff;
    transition-duration: .3s;
}

#login {
    margin: 0 auto;
    width: 400px;
}

#login h2 {
    text-align: center;
}

#login input, #login h2, #mypage h2 {
    margin-bottom: 20px;
}

#register h2 {
    text-align: center;
}

#register {
    width: 600px;
    margin: 0 auto;
}

#register .table th {
    text-align: center;
    vertical-align: middle;
}

#register .table td {
    vertical-align: middle;
}

#register .btn {
    display: block;
    margin: 0 auto;
    width: 550px;
}

#mypage, #deluser {
    width: 600px;
    margin: 0 auto;
}

#mypage table {
    width: 600px;
    margin: 0 auto;
}

#mypage #profilepic {
    text-align: center;
    vertical-align: middle;
}

#mypage input[type=button] {
    margin: 5px;
    float: right;
}

#deluser input[type=submit] {
    margin-top: 5px;
    float: right;
}

.table.horizontal {
    text-align: center;
}

#communityList th:nth-child(1) {width: 80px;}
#communityList th:nth-child(2) {width: auto;}
#communityList th:nth-child(3) {width: 150px;}
#communityList th:nth-child(4) {width: 120px;}
#communityList th:nth-child(5) {width: 80px;}

.btn.right {
    float: right;
    margin: 0 5px 10px 0;
}

.btn.right:after {
    content: '';
    clear: both;

}

h2 {
    text-align: center;
}

#communityView tr td {
    padding: 50px 30px 10px 30px;
}

#communityView tr:nth-child(2) td {
    text-align: right;
    margin-bottom: 30px;
    padding-top: 0;
}

#communityView {
    border: 1px solid lightgrey;
    border-radius: 5px;
    border-collapse: collapse;
    margin-bottom: 50px;
}

#contentBox {
    text-align: justify;
    min-height: 300px;
    padding: 0 10px 10px 10px;
}

#communitySearch, #qnaSearch {
    width: 500px;
    margin: 10px auto;
}

#communitySearch td, #qnaSearch td {
    padding: 5px 3px 0 3px;
}

.pagination {
    padding-top: 10px;
    justify-content: center;
}

main {
    padding-bottom: 80px;
}

h3 {
    text-align: center;
}

#study-add > tr > td {
    display: block;
}

#study-add td, #study-view td {
    width: 450px;
}

#study-view td {
    padding: 25px 20px;
}

#study-content-box {
    min-height: 300px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
}

#delete-update {
    cursor:pointer;
    color: dimgray;
    text-align: right;
}

#delete-update > span:hover {
    color: #27a6ff;
    transition-duration: .3s;
}

#study-list .card {
    padding: 10px;
    height: 300px;
}

.card .card-section {
    text-align: center;
}

.card a {
    color: black;
    font-weight: bold;
}

.card a:hover {
    text-decoration: none;
    color: #27a6ff;
    transition-duration: .3s;
}

#no-posts {
    margin: 50px auto;
    text-align: center;
}

nav > .pagination {
    margin-top: 50px;
}

body span.lang {
    display: inline-block;
    background-color: #D6EFFF;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 0.8rem;
    color: #3B3B3B;
}

#qnalist th:nth-child(1) {width: 80px;}
#qnalist th:nth-child(2) {width: auto;}
#qnalist th:nth-child(3) {width: 150px;}
#qnalist th:nth-child(4) {width: 120px;}
#qnalist th:nth-child(5) {width: 80px;}
#qnalist th:nth-child(6) {width: 80px;}

#answerList tr td {
    padding: 20px;
}

.answer-info {
    color: dimgray;
    margin-bottom: 15px;
}

#input-answer tr td {
    border: none;
}

#input-answer tr td:nth-child(2) {
    vertical-align: middle;
}

#input-answer textarea {
    resize: none;
    width: 780px;
    height: 100px;
    display: inline-block;
}

#input-answer input[type=button] {
    display: inline-block;
}

.table .btn.btn-status {
    margin-bottom: 5px;
}


.table tr td .update-comment {
    text-align: right;
}

#index-layout {
    margin: 0 auto;
}

.container #index-layout .table tr td a {
    color: black;
}

.container #index-layout .table tr td a:hover {
    color: #27a6ff;
    text-decoration: none;
    transition: .3s;
}

#index-layout table th, #index-layout table td {
    text-align: center;
}

#index-layout table td:nth-child(2) {
    text-align: left;
}

i.fa-solid.fa-fire {
    color: orangered;
}