@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, a, div, span {
    font-family: 'SUIT-Medium';
}

main {
    width: 1000px;
    margin: 0 auto;
}

main section {
    width: 900px;
    margin: 0 auto;
}

main > header {
    height: 150px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 50px;
}

main > header > nav {
    display: flex;
    justify-content: space-between;
}

main > header > nav > ul {
    position: absolute;
    display: flex;
    right: 250px;
    top: 120px;
}

main > header > nav > ul > li {
    list-style-type: none;
    margin: 0 5px;
}

#communityView span {
    color: gray;
    cursor: pointer;
}

main > header > nav > ul > li > a,
#communityList tr td:nth-child(2) a {
    color: black;
}

#communityView span:hover,
main > header > nav > ul > li > a:hover,
#communityList tr td:nth-child(2) a:hover {
    text-decoration: none;
    color: #27a6ff;
    transition-duration: .3s;
}

#login {
    margin: 0 auto;
    width: 400px;
}

#login h2 {
    text-align: center;
}

#login input, #login h2, #mypage h2 {
    margin-bottom: 20px;
}

#register h2 {
    text-align: center;
}

#register {
    width: 600px;
    margin: 0 auto;
}

#register .table th {
    text-align: center;
    vertical-align: middle;
}

#register .table td {
    vertical-align: middle;
}

#register .btn {
    display: block;
    margin: 0 auto;
    width: 550px;
}

#mypage, #deluser {
    width: 600px;
    margin: 0 auto;
}

#mypage table {
    width: 600px;
    margin: 0 auto;
}

#mypage #profilepic {
    text-align: center;
    vertical-align: middle;
}

#mypage input[type=button] {
    margin: 5px;
    float: right;
}

#deluser input[type=submit] {
    margin-top: 5px;
    float: right;
}

.table.horizontal {
    text-align: center;
}

#communityList th:nth-child(1) {width: 80px;}
#communityList th:nth-child(2) {width: auto;}
#communityList th:nth-child(3) {width: 150px;}
#communityList th:nth-child(4) {width: 120px;}
#communityList th:nth-child(5) {width: 80px;}

.btn.right {
    float: right;
    margin: 0 5px 10px 0;
}

h2 {
    text-align: center;
}

#communityView tr td {
    padding: 50px 30px 10px 30px;
}

#communityView tr:nth-child(2) td {
    text-align: right;
    margin-bottom: 30px;
    padding-top: 0;
}

#communityView {
    border: 1px solid lightgrey;
    border-radius: 5px;
    border-collapse: collapse;
    margin-bottom: 50px;
}

#contentBox {
    text-align: justify;
    min-height: 300px;
    padding: 0 10px 10px 10px;
}

#communitySearch {
    width: 500px;
    margin: 10px auto;
}

#communitySearch td {
    padding: 5px 3px 0 3px;
}