<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>호텔 메인 페이지</title>
  <link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" onclick="location.href='customer/login'">회원 로그인</button>
      <button class="btn btn-primary" onclick="location.href='admin/login'">관리자 로그인</button>
      <button class="btn btn-primary" onclick="location.href='customer/new'">회원가입</button>
</div>
</body>
</html>