<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
    <style>
        .container {
            max-width: 800px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="py-5 text-center">리뷰 내용</h1>
    <table class="table table-bordered">
        <tr>
            <th scope="col">예약 날짜</th>
            <th scope="col">객실 유형</th>
            <th scope="col">인원수</th>
            <th scope="col">체크인 날짜</th>
            <th scope="col">체크아웃 날짜</th>
            <th scope="col">상태</th>
        </tr>
        <tr>
            <td th:text="${reservationDto.reservationDate}"></td>
            <td th:text="${reservationDto.roomType}"></td>
            <td th:text="${reservationDto.guests}"></td>
            <td th:text="${reservationDto.checkIn}"></td>
            <td th:text="${reservationDto.checkOut}"></td>
            <td th:text="${reservationDto.status}"></td>
        </tr>
    </table>
    <form method="post" th:object="${reviewResponseDto}">
        <div class="mb-3 text-center">
            <input type="radio" id="rating1" th:field="*{rating}" th:value="1" class="form-check-input" disabled>
            <label for="rating1">⭐</label>
            <input type="radio" id="rating2" th:field="*{rating}" th:value="2" class="form-check-input" disabled>
            <label for="rating2">⭐⭐</label>
            <input type="radio" id="rating3" th:field="*{rating}" th:value="3"  class="form-check-input" disabled>
            <label for="rating3">⭐⭐⭐</label>
            <input type="radio" id="rating4" th:field="*{rating}" th:value="4"  class="form-check-input" disabled>
            <label for="rating4">⭐⭐⭐⭐</label>
            <input type="radio" id="rating5" th:field="*{rating}" th:value="5"  class="form-check-input" disabled>
            <label for="rating5">⭐⭐⭐⭐⭐</label>
        </div>
        <div class="row-cols-auto mb-3">
            <textarea class="form-control" rows="12" placeholder="리뷰를 작성해주세요." th:text="*{content}" readonly></textarea>
        </div>
        <div class="float-end">
            <input type="button" class="btn btn-secondary mx-2" value="뒤로 가기" onclick="location.href='/customer/reservation'">
        </div>
    </form>
</div>
</body>
</html>